---

---



html, body{
  width: 100%;
}

body{
  overflow: hidden;
}
.mycontainer{
  background: pink;
  width: 20%;
  
}
/*
header{
  width: $full-width;
  display: flex;
  background: $grey-color-light;
}
header nav{
  width: $full-width;
  display: flex;
}

header nav p{
  width: $header-p-width;
}

header nav ul{
  width: $header-ul-width;
  display: flex;
  justify-content: flex-end;
}

header nav ul li{
    list-style: none;
    text-decoration: none;
    padding: 0 10px 0 10px;
    width: 120px;
}
*/
