---
layout: default
title: Rufaro Madamombe | Web Development Projects
---
 <article id="projects">
        <h2>Projects </h2> 

        {% for project in site.data.projects.projects %}
        <article class="card animated fadeIn">
            <img src="{{project.image}}" alt="{{project.name}}" title="{{project.name}}">

            <h3>{{ project.name }}</h3>

            <ul class="links">
                <li class="link"><a href="{{project.github}}">Github</a></li>
                <li class="link"><a href="{{project.demo}}">Demo</a></li>
            </ul>

            <p>{{ project.description }}</p>

            <ul class="tags">
                {% for tag in project.tags %}
                <li class="tag">{{ tag }}</li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
    </article>