---
layout: default
title: projects
permalink: projects
---
 <div id="projects">
        <h2>Projects </h2> 

        <div class="card" v-for=" project in projects">
            <img v-bind:src="project.image" alt="" width="300" height="200">

            <h3>{% raw %} {{ project.name }} {% endraw %}</h3>

            <ul class="links">
                <li class="link"><a v-bind:href="project.github">Github</a></li>
                <li class="link"><a v-bind:href="project.demo">Demo</a></li>
            </ul>

            <p>{% raw %} {{ project.description }} {% endraw %}</p>

            <ul class="tags">
                <li class="tag" v-for="tag in project.tags">{% raw %} {{ tag }} {% endraw %}</li>
        
            </ul>

        </div>
    </div>