---
layout: default
permalink: /
---
    <h1 class="text-center">{{site.data.about.intro}}</h1>

    <section class="container push">

        {% include fancy-heading.html content="Biography" %}

        {% include social-icons.html %}
        <article class="content-card">
            <article class="portrait">
                <img src="{{site.baseurl}}/images/rayhatron.png" alt="Rufaro Madamombe (Rayhatron)" title="Rufaro Madamombe (Rayhatron)">
            </article>
            <article class="bio">
                <div>{{site.data.about.description1}}</div>
            </article>  
        </article>
        
    </section>

    <section class="container push">

        {% include fancy-heading.html content="FrontEnd" %}

        <div class="container">
            <p class="wrapper skillsText">
                Here are some of the front end web technologies that I use to create beautiful responsive and interactive websites and web applications. 
                All the front-end projects I work on, use and comply with the latest design and semantic standards.
            </p>
        </div>

        <article class="content-card">
            {% for techIcon in site.data.techIcons.techIcons %}
                {% if techIcon.category == "frontEnd" and techIcon.show %}
                    {{ techIcon.svg }}
                {% endif %}
            {% endfor %}
        </article>
    </section>

    <section class="container push">
        {% include fancy-heading.html content="BackEnd" %}
        <div class="container">
            <p class="wrapper skillsText">
                Here are some of the back end web technologies that I use to create the not so visually oriented aspects of a project. 
                I leverage these cutting edge technologies to create fast servers, APIs, databases and powerful web applications.
            </p>
        </div>
        
        <article class="content-card">
            {% for techIcon in site.data.techIcons.techIcons %}
                {% if techIcon.category == "backEnd" and techIcon.show %}
                    {{ techIcon.svg }}
                {% endif %}
            {% endfor %}
        </article>
    </section>

    <section class="container push">
        {% include fancy-heading.html content="Projects" %}

        <div class="container">
            <p class="wrapper skillsText">
                Well you should really take everything you read on the internet with a grain of salt so incase you'd like some proof of concept, 
                here are some of the web development projects that
                I created that utilize the different web technologies from the ones I mentioned above. 
                You can also check my <a id="github" href="https://github.com/{{site.github_username}}" title="Rayhatron Github" target="_blank">github</a> if you'd like to dig deep into the code. 
            </p>
        </div>

        <div class="content-card">
            {% for project in site.data.projects.projects limit: 2 %}
                <article class="project">
                    <a href="{{project.github}}" target="_blank" title="{{project.name}} Github">
                        <img src="{{project.image}}" alt="{{project.name}}" title="{{project.name}}">
                    </a>
                    <article class="projectDetails text-center">
                        <h3>{{ project.name }}</h3>
                        <p class="mega">{{ project.description }}</p>
                        <p>
                            <a class="mega push-r" href="{{project.github}}" target="_blank" title="{{project.name}} Github">Github</a></li>
                            <a class="mega" href="{{project.demo}}" target="_blank" title="{{project.name}} Live Demo">Demo</a>
                        </p>
                    </article>
                </article>
                
            {% endfor %}

            <p class="button"><a href="/projects/" title="Rayhatron web developer projects">View more projects</a></p>
        </div>
    </section>

