---
layout: default
permalink: /
---
    <h1 class="text-center">{{site.data.about.intro}}</h1>

    <section class="container push">

        {% include fancy-heading.html content="Biography" %}

        {% include social-icons.html %}
        <article class="content-card">
            <article class="portrait">
                <img src="{{site.baseurl}}/images/rayhatron-pro.jpg" alt="Rufaro Madamombe (Rayhatron)" title="Rufaro Madamombe (Rayhatron)">
            </article>
            <article class="bio">
                <div>
                    <p class="wrapper">
                        {{site.data.about.description}}
                    </p>
                    <p class="wrapper">
                        {{site.data.about.description1}}
                    </p>
                </div>
            </article>  
        </article>
        <article class="container">
            <p class="wrapper">
                {{site.data.about.description2}}
                <!--
                {{site.data.about.workIntro}}
                <a href="{{site.data.about.workLink}}">{{site.data.about.workName}}</a>
                {{site.data.about.workDescription}}
                {{site.data.about.invitation}}
                -->
            </p>
            <p class="wrapper">
                {{site.data.about.description3}}
            </p>
        </article>
    </section>

    <section class="container push">

        {% include fancy-heading.html content="FrontEnd" %}

        <article class="container">
            <p class="wrapper skillsText">
                During my journey through web development, I've learned loads of magnificent technologies, and I've used them in my projects to strengthen the skills I was getting. I've encountered and resolved all the issues I've faced by using them, and each time it kept getting easier and easier to do. 
            </p>
            <p class="wrapper skillsText">
                Through practice, I've learned design patterns and certain techniques which I would be able to use in my future work and to build interactive and responsive websites and apps.
            </p>
        </article>

        <article class="content-card">
            {% for techIcon in site.data.techIcons.techIcons %}
                {% if techIcon.category == "frontEnd" and techIcon.show %}
                    {{ techIcon.svg }}
                {% endif %}
            {% endfor %}
        </article>
    </section>

    <section class="container push">
        {% include fancy-heading.html content="BackEnd" %}
        <article class="container">
            <p class="wrapper skillsText">
                After being sure that I was proficient and fast to use front end technologies, I've started to go deeper into web app development, so I decided to have some backend technology at my hand. I've spent a lot of time learning widely used backend stack with its patterns, as I wanted not only to create a beautiful and gorgeous front end, but I wanted to add functionality too.    
            </p>

            <p class="wrapper skillsText">
                I wanted to be able to allow users to login/register, post, and literally improve the UI/UX the users would get, which meant database architecture, dashboards creation, and so much more. I wanted to be able to program how it all would work together, how it would behave if the user has chosen a certain option, I wanted to configure servers, create API's to support the constructor, and create something really really powerful.
            </p>
        </article>
        
        <article class="content-card">
            {% for techIcon in site.data.techIcons.techIcons %}
                {% if techIcon.category == "backEnd" and techIcon.show %}
                    {{ techIcon.svg }}
                {% endif %}
            {% endfor %}
        </article>
    </section>

    <section class="container push">
        {% include fancy-heading.html content="Projects" %}

        <article class="container">
            <p class="wrapper skillsText">
                As we all know, you will require some of my works as a show off of my abilities and skills and decisions I've taken. I would love to give you few examples of what I've done. I'm always interested in doing as much as I can and build projects, as I am proud of what I'm doing, I'm loving it and all of that is thanks to a number of studies I did that I was able to achieve such diverse knowledge.          
            </p>

            <p class="wrapper skillsText">
                If you want to give a feedback or add additional functionality, or just advice, that's great! I'd really appreciate that you took a moment of your time to share your opinion! And if you want to hire me for a project or a part-time/full-time job offer, or just to work together in future - that's even better! :) 

                Check out my <a href='https://github.com/{{site.github_username}}' title='Rayhatron Github' target='_blank'>github</a> if you'd like to dive in the code. 
            </p>

            <p class="wrapper skillsText">
                <strong>Thanks</strong> for taking your time and looking through my portfolio!
            </p>
        </article>

        <div class="content-card">
            {% for project in site.data.projects.projects limit: 2 %}
                <article class="project">
                    <a href="{{project.github}}" target="_blank" title="{{project.name}} Github">
                        <img src="{{project.image}}" alt="{{project.name}}" title="{{project.name}}">
                    </a>
                    <article class="projectDetails text-center">
                        <h3>{{ project.name }}</h3>
                        <p class="mega">{{ project.description }}</p>
                        <p>
                            <a class="mega push-r" href="{{project.github}}" target="_blank" title="{{project.name}} Github">Github</a></li>
                            <a class="mega" href="{{project.demo}}" target="_blank" title="{{project.name}} Live Demo">Demo</a>
                        </p>
                    </article>
                </article>
                
            {% endfor %}

            <p class="button"><a href="/projects/" title="Rayhatron web developer projects">View more projects</a></p>
        </div>
    </section>

