<div class="heading">
    <div class="dbLine push push-r"></div>
    <div class="diamonds push">
        <div class="diamond d1"></div>
        <div class="diamond d2"></div>
        <div class="diamond d3"></div>
        <div class="diamond d4"></div>
    </div>
    <h2 class="push-l push-r">{{ include.content }}</h2>
    <div class="diamonds push">
        <div class="diamond d4"></div>
        <div class="diamond d3"></div>
        <div class="diamond d2"></div>
        <div class="diamond d1"></div>
    </div>
    <div class="dbLine push push-l"></div>
</div>