<nav>
  <p>
    <a href="/">
      Rayhatron
    </a>
  </p>
  <ul id="myTopnav" class="topnav">
    <li class="{% if page.url == '/' %}current{% endif %}"><a href="/">Home</a></li>
    <li class="{% if page.url == '/projects/' %}current{% endif %}"><a href="/projects/">Projects</a></li>
    <li class="{% if page.url == '/blog/' %}current{% endif %}"><a href="/blog/">Blog</a></li>
    <li class="icon" onclick="toggleMenu()">
      <a href="javascript:void(0);"  onblur="hideMenu()"> <i class="fa fa-bars" aria-hidden="true"></i> </a>
    </li>
  </ul>
</nav>
