<div class="social-icons">
    <a href="https://linkedin.com/in/rufaro-madamombe-rayhatron" class="linkedin" title="Rufaro Madamombe LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a class="twitter" href="https://twitter.com/{{site.twitter_username}}" title="Rayhatron Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a class="github" href="https://github.com/{{site.github_username}}" title="Rayhatron Github"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a class="freecodecamp" href="https://freecodecamp.com/{{site.freecodecamp_username}}" title="Rayhatron FreeCodeCamp"><i class="fa fa-free-code-camp" aria-hidden="true"></i></a>
</div>