@import url('https://fonts.googleapis.com/css?family=Eczar');

// Our variables
$base-font-family: 'Eczar', serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Width of the content area
$content-width:    100vw;
$full-width: 100%;
$header-height: 50px;
$header-p-width: 20%;
$header-ul-width: 80%;
$max-width: 1024px;

$on-palm:          600px;
$on-laptop:        800px;

//Media query stuff
$breakpoints: (phone: 640px, 
               tablet: 801px, 
               desktop: 1024px) !default;

//Mixins
@mixin flexbox($direction, $align, $justify, $wrap){
	display: flex;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
	flex-wrap: $wrap;
}

@mixin dimensions($width, $height){
	width: $width;
	height: $height;
}
