html{
  min-width: 100vw;
  max-width: $max-width;

  body{
    @include flexbox(row, initial, center, wrap);
    max-width: $max-width;
    margin: 0 auto;
  }
}
html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background: $off-white;

  ul{
     margin: 0;
  }

  a{
    text-decoration: none;
    //color: $white;
  }
}

  header{
    @include flexbox(row, initial, initial, nowrap);
    @include dimensions($full-width, $header-height);
    max-width: $max-width;
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    padding: 5px 0;
    left: 0;
    right: 0;
    background: $nav;

    @include media("screen", "<tablet"){
        height: initial;
      }

    nav{
      @include flexbox(row, initial, initial, wrap);
      @include dimensions($full-width, $header-height);
      z-index: 2;
      background-color: $nav;
      @include media("screen", "<tablet"){
        height: initial;
      }

      p{
        @include flexbox(row, center, center, nowrap);
        @include dimensions($header-p-width, 100%);
        margin: 0;
        font-size: 20px;

        @include media("screen", "<tablet"){
          @include dimensions(100%, 50px);
          display: none;
        }

        a{
          color: $white;

          img{
            width: 90px;
            margin: 40px 0 0 0;
          }
          &:hover{
              color: $accent-color;
            }

          &:visited{
              text-decoration: none;
            }
        }

      }

      ul{
        @include flexbox(row, center, flex-end, wrap);
        @include dimensions($header-ul-width, 100%);
        padding: 0;
        margin: 0;
        
          
        @include media("screen", "<tablet"){
          
          @include dimensions(100%, 50px);
          &.responsive {position: relative;}
          
          &.responsive li {
            float: none;
            width: 100%;
            display: flex !important;;
          }
          &.responsive li a {
            display: block;
            
          }
        }


        .current{
          border-bottom: 4px solid $accent-color;

          @include media("screen", "<tablet"){
            border: none;
          }

        }

        li{
          @include flexbox(row, center, center, nowrap);
          @include dimensions(120px, 100%);
          list-style: none;
          text-decoration: none;
          padding: 0 10px 0 10px;
          background-color: $nav;

          @include media("screen", "<tablet"){
              @include dimensions(100%, 50px);
              &:nth-child(2){
                border-top: 1px solid $divider-color;
                border-bottom: 1px solid $divider-color;

              }
              &:not(.current) {
                display: none;
              }
              &.icon {
                @include dimensions(50px, 30px);
                float: right;
                position: absolute;
                display: flex !important;
                flex-direction: row;
                align-items: center;
                justify-content: center;
               
              }
          }

          //&:hover{
            //background-color: $primary-color;
          //}

          &.icon{
            display: none;
          }

          a{
            width: 50%;
            transition: 0.3s;
            font-size: 17px;
            text-align: center;
            color: $white;

            &:hover{
              color: $accent-color;
            }

            &:visited{
              text-decoration: none;
            }
          }
        }
      }

    }

     svg{
      position: absolute;
      top: 50px;
      max-width: 100%;
      
      @include media(">1200px"){
          top: 48px;
        }

      @include media(">1512px"){
          top: 45px;
  	  }
    }
  }
  

  section#content {
    @include flexbox(row, center, center, wrap);
    @include dimensions($full-width, initial);
    color: $primary-text-color;
    max-width: $max-width;
    min-height: 84vh;
    margin: 70px auto;
    font-family: $base-font-family;
    padding-bottom: 50px;
    //min-height: 100%;

    .button{
            @include dimensions(100%, initial);
            text-align: center;

            a{
              padding: 10px;
              color: $accent-color;
              border: 2px solid $accent-color;
              border-radius: 5px;
              
              &:hover{
                background: $accent-color;
                color: $white;
                border: 1px solid $accent-color;
              }
            } 
      }
  
      .PageNavigation{
        min-width: 100%;
        margin: 0 20px;
        text-align: center;

        a{
          display: inline-block;
          margin: 20px;
          color: $accent-color;

          &.prev{
            float: left;
          }
          &.next{
            float: right;
          }
        }

        .PageNumber {
         display: inline-block;
         margin: 20px auto;
        }
      }
  
  }

  footer{
    @include dimensions(100%, 50px);
    @include flexbox(row, center, center, wrap);
    max-width: $max-width;
    padding: 10px 0;
    position: relative;
    margin-top: -50px;
    clear: both;
    
    #social-icons{
      font-size: 30px;
      @include media("screen", "<tablet"){
          @include dimensions(100%, 50px);
          text-align: center;
        }

      a{
        margin: 0 5px;
        
        i{
          color: $light-grey;
        }
        
        &#twitter{
          &:hover{
            i{
              color: $twitter;
            }
          }
        } 
        
        &#github{
          &:hover{
            i{
              color: $github;
            }
          }
        }

        &#freecodecamp{
          &:hover{
            i{
              color: $freecodecamp;
            }
          }
        }
        
      }
    }
  }




