 #about{
      .normal{
        font-weight: normal;
      }
        @include dimensions(100%, initial);
        color: $primary-text-color;
        padding: 0 10px;

         @include media("screen", ">desktop"){
           @include dimensions(1000px, initial);
        }

      h2{
        font-size: 1.6rem;
        color: $primary-text-color;
      }
      p{
        font-size: 1.3rem;
        
      }

      a{
        color: $accent-color;
      }
    }

    #techIcons{
      text-align: center;
      svg{
        @include dimensions(100px, 100px);
        padding: 0 10px;
      }

    }
    