#post{
    @include dimensions(90%, initial);
        color: $primary-text-color;
        padding: 0 10px;

         @include media("screen", ">desktop"){
           @include dimensions(1000px, initial);
        }

      h1{
        font-size: 2.2rem;
        color: $primary-text-color;
      }
      h3{
          font-size: 1.2rem;
          color: $light-grey;
      }
      p{
        font-size: 1.3rem;
        
      }

      a{
        color: $accent-color;
      }

      .post-featured-image{
        border-radius: 15px;
        max-width: 80%;
      }

      pre{
        overflow: auto;
      }

      #share-box {
        margin: 20px 0;
      }

}

