---
layout: default 
title: Tech and lifestyle blog
description: A blog where Rayhatron writes about his journery as a web developer and other tech/non-tech subjects
seo.type: Blog
---
<main id="blog">
  <h1>Blog</h1>

  {% for post in paginator.posts %}
    {% include post-card.html %}
  {% endfor %}

  <!-- Pagination links for blog with many posts -->
  <nav class="PageNavigation">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="prev" title="Page {{paginator.previous_page}}">Previous</a>
    {% endif %}
    <span class="PageNumber ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next" title="Page {{paginator.next_page}}">Next</a>
    {% endif %}
  </nav>


  <p class="button"><a href="/blog/archive/" title="Rayhatron web developer tech blog archive">View archive</a></p>

</main>
