---
layout: default 
title: Tech and lifestyle blog
description: A blog where Rayhatron writes about his journery as a web developer, the experiences he has had with tech and lessons life has taught him.
seo.type: Blog
---

{% for post in paginator.posts %}
<article id="post-card" class="animated fadeIn">
    {% if post.image %}<img src="{{site.baseurl}}/{{post.image}}" alt="{{post.title}}" title="{{post.title}}" class="card-image">{% endif %}

    <p id="post-date">{{post.date | date_to_long_string}}</p>

    <h1><a href="{{site.baseurl}}/{{post.url}}">{{ post.title }}</a></h1>

    <p>{{ post.excerpt }}</p>
    <p class="button"><a href="{{post.url}}">Read more</a></p>

</article>
{% endfor %}

<!-- Pagination links for blog with many posts -->
<nav class="PageNavigation">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
  {% endif %}
  <span class="PageNumber ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</nav>


<p class="button"><a href="/archive/">View archive</a></p>
