blockquote {
    margin: 0 0 0 3rem;
    background: #f0f8ff;
    border-radius: 10px;
}

p{
    padding: 10px;
}

.skillsText{
    text-align: center;
    
    @include media("screen", "<tablet"){
        text-align: left;
    }

}

.project img{
    width: 100%;
    height: 100%;
}

pre{
    overflow: auto;
    padding: 10px;
}

.post{
    @include dimensions(100%, initial);
    color: $primary-text-color;
    padding: 0 10px;
    margin: 5px;
    
    ul, ol{
        padding-left: 40px;
    }

    @include media("screen", "<tablet"){
        @include dimensions(95%, initial);
         
    }

    @include media("screen", ">desktop"){
        @include dimensions(1000px, initial);
    }

    h3{
        color: $light-grey;
    }

    img {
        max-width: 100%;
    }
}

.post img.post-featured-image {
    max-width: 690px;
    max-height: 520px;

    @include media("screen", "<tablet"){
        width: 90%;
        height: 250px;
    }
    
}





