footer{
    @include dimensions(100%, initial);
    @include flexbox(row, center, center, wrap);
    max-width: $max-width;
    text-align: center;
    margin: 0 auto;

    .iubenda-ibadge{
        vertical-align: middle;
    }

    p{
        width: 100%;
    }
    
}

  