---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rufaro Madamombe</title>
    <link rel="stylesheet" href="css/master.css">
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        {% include nav.html %}
      </header>
      Content 
      {{ content }}

      <footer>
     Rufaro Madamombe  &copy; 2016
    </footer>

    </div>

  </body>
</html>
