---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rufaro Madamombe | Web developer, Zimbabwe</title>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <script src="js/vue.js"></script>
    <script src="js/main.js"></script>

  </head>
  <body>
    
    <div class="container" id="app">
      <header>
        {% include nav.html %}
      </header>


      <section id="content">

        {{ content }}
      </section>
      

      <footer>
     Rufaro Madamombe  &copy; 2016
    </footer>

    </div>

  </body>
</html>
