html, body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: $max-width;
}

.content {
    @include flexbox(row, center, center, wrap);
    @include dimensions($full-width, initial);
    color: $primary-text-color;
    max-width: $max-width;
    min-height: 84vh;
    //margin: 95px auto 0 auto;
    //font-family: $base-font-family;
    padding-bottom: 50px;
    //font-size: 1.3rem;
    //line-height: 35px;
    //min-height: 100%;
}

.container{
    @include dimensions(100%, initial);
    @include flexbox(row, initial, center, wrap);

}

.content-card{
    @include flexbox(row, center, space-around, wrap);
    @include dimensions(800px, 400px);
    //background: -webkit-linear-gradient( $white, $off-white);
    //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

     @include media("screen", "<tablet"){
        @include dimensions(90%, initial);
    }
}

.portrait{
    @include dimensions(350px, 250px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);

    @include media("screen", "<tablet"){
       margin-top: 10px;
    }

    img{
        @include dimensions(100%, 100%);
    }
}

.bio{
    @include dimensions(400px, 290px);
    padding: 10px;

    @include media("screen", "<tablet"){
        @include dimensions(100%, initial);
        margin-top: 10px;
    }
}

.project{
    @include dimensions(350px, 350px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    position: relative;
    margin: 5px;

    &:hover{
        .projectDetails{
            display: block;
        }
    }

    @include media("screen", "<tablet"){
        @include dimensions(200px, 200px);
    }
}

.projectDetails{
    @include flexbox(row, center, center, wrap);
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    background: rgba(7, 143, 132, 0.7);
    color: $white;
}

.heading{
    @include dimensions(100%, 100px);
    @include flexbox(row, center, center, nowrap);
}

.dbLine{
    @include dimensions(200px, 10px);
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;

    @include media("screen", "<tablet"){
        display: none;
    }
}

.diamonds{
    @include flexbox(row, center, center, nowrap);  
    @include media("screen", "<tablet"){
        display: none;
    }  
}
.diamond{
    border-radius: 2px;
    transform: rotate(135deg);
}

.d1{
    @include dimensions(5px, 5px);
    background: #ff9999;
}

.d2{
    @include dimensions(7px, 7px);
    background: #c83d3d;
    z-index: 2;
}

.d3{
    @include dimensions(9px, 9px);
    background: #a84040;
    z-index: 3;
}

.d4{
    @include dimensions(11px, 11px);
    background: #8c0404;
    z-index: 4;
}

svg{
    width: 15%;
    height: 100px;
    padding: 10px;
}

